In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
ratings=pd.read_table(r'C:\Users\HP\Downloads\title.ratings.tsv\data.tsv')

In [4]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1972
1  tt0000002            5.8       264
2  tt0000003            6.5      1820
3  tt0000004            5.6       178
4  tt0000005            6.2      2615

In [5]:
ratings.shape

(1312760, 3)

In [6]:
titles=pd.read_table(r'C:\Users\HP\Downloads\title.basics.tsv\data.tsv')

C:\Users\HP\AppData\Local\Temp\ipykernel_9288\1258278915.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles=pd.read_table(r'C:\Users\HP\Downloads\title.basics.tsv\data.tsv')

In [7]:
titles.iloc[0:20]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Waterer Watered,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"
15,tt0000016,short,Boat Leaving the Port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
16,tt0000017,short,Italienischer Bauerntanz,Italienischer Bauerntanz,0,1895,\N,1,"Documentary,Short"
17,tt0000018,short,Das boxende Känguruh,Das boxende Känguruh,0,1895,\N,1,Short
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"

In [8]:
titles.shape

(9856732, 9)

In [9]:
titles=titles.drop('endYear',axis=1)

In [10]:
final_list= pd.merge(ratings,titles,on='tconst')

In [10]:
final_list.iloc[0:10]

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0000001,5.7,1972,short,Carmencita,Carmencita,0,1894,1,"Documentary,Short"
1,tt0000002,5.8,264,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,5,"Animation,Short"
2,tt0000003,6.5,1820,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,4,"Animation,Comedy,Romance"
3,tt0000004,5.6,178,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
4,tt0000005,6.2,2615,short,Blacksmith Scene,Blacksmith Scene,0,1893,1,"Comedy,Short"
5,tt0000006,5.1,181,short,Chinese Opium Den,Chinese Opium Den,0,1894,1,Short
6,tt0000007,5.4,818,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,1,"Short,Sport"
7,tt0000008,5.4,2110,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,1,"Documentary,Short"
8,tt0000009,5.3,204,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
9,tt0000010,6.9,7157,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,1,"Documentary,Short"

In [11]:
final_list.shape

(1312760, 10)

In [12]:
duplicateRows = final_list[final_list.duplicated(keep='last')]
print(duplicateRows)

Empty DataFrame
Columns: [tconst, averageRating, numVotes, titleType, primaryTitle, originalTitle, isAdult, startYear, runtimeMinutes, genres]
Index: []

In [13]:
final_list['runtimeMinutes'].value_counts()

\N      374349
30       44867
60       39205
22       37737
90       29125
         ...
3600         1
1196         1
765          1
541          1
468          1
Name: runtimeMinutes, Length: 721, dtype: int64

In [14]:
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '\\N'].index)
final_list.shape

(938411, 10)

In [15]:
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '1'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '2'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '3'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '4'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '5'].index)
final_list.shape

(906328, 10)

In [16]:
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '6'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '7'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '8'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '9'].index)
final_list=final_list.drop(final_list[final_list.runtimeMinutes== '0'].index)
final_list.shape

(871595, 10)

In [17]:
final_list.iloc[0:20]

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
3,tt0000004,5.6,178,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
8,tt0000009,5.3,204,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
144,tt0000147,5.3,469,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
198,tt0000218,5.9,662,short,L'affaire Dreyfus,L'affaire Dreyfus,0,1899,13,"Biography,Drama,Short"
252,tt0000335,6.1,55,short,Soldiers of the Cross,Soldiers of the Cross,0,1900,40,"Biography,Drama,Short"
271,tt0000373,6.4,93,short,The Devil's Seven Castles,Les sept châteaux du diable,0,1902,11,"Drama,Horror,Short"
280,tt0000399,6.1,763,short,Jack and the Beanstalk,Jack and the Beanstalk,0,1902,10,"Fantasy,Short"
290,tt0000417,8.2,52343,short,A Trip to the Moon,Le voyage dans la lune,0,1902,13,"Action,Adventure,Comedy"
299,tt0000439,7.3,20033,short,The Great Train Robbery,The Great Train Robbery,0,1903,11,"Action,Adventure,Crime"
302,tt0000446,4.8,25,short,Kit Carson,Kit Carson,0,1903,21,"Short,Western"
310,tt0000465,7.3,1670,short,The Kingdom of the Fairies,Le royaume des fées,0,1903,16,"Adventure,Fantasy,Short"
312,tt0000471,5.2,508,short,Uncle Tom's Cabin,Uncle Tom's Cabin,0,1903,13,"Drama,Short"
317,tt0000488,6.9,823,short,The Land Beyond the Sunset,The Land Beyond the Sunset,0,1912,14,"Drama,Fantasy,Short"
320,tt0000495,6.0,115,short,The Pearl Fisher,Le pêcheur de perles,0,1907,12,"Fantasy,Short"
324,tt0000499,7.5,3753,short,The Impossible Voyage,Le voyage à travers l'impossible,0,1904,24,"Action,Adventure,Family"
326,tt0000502,4.1,15,movie,Bohemios,Bohemios,0,1905,100,\N
330,tt0000511,6.4,45,short,Esmeralda,Esmeralda,0,1905,10,"Drama,Short"
335,tt0000520,6.3,58,short,The Life of Charles Peace,The Life of Charles Peace,0,1905,14,"Biography,Crime,Short"
336,tt0000521,5.5,318,short,The Little Train Robbery,The Little Train Robbery,0,1905,12,"Action,Crime,Drama"
340,tt0000528,6.2,17,short,"Raffles, the Amateur Cracksman","Raffles, the Amateur Cracksman",0,1905,15,"Adventure,Romance,Short"

In [18]:
final_list['runtimeMinutes'].value_counts()

30      44867
60      39205
22      37737
90      29125
24      26821
        ...
1170        1
636         1
1271        1
870         1
468         1
Name: runtimeMinutes, Length: 710, dtype: int64

In [19]:
final_list=final_list.drop(final_list[final_list.averageRating== '\\N'].index)
final_list.shape

(871595, 10)

In [20]:
final_list=final_list.drop(final_list[final_list.numVotes== '\\N'].index)
final_list.shape

(871595, 10)

In [21]:
final_list=final_list.drop(final_list[final_list.genres== '\\N'].index)
final_list.shape

(862127, 10)

In [23]:
final_list=final_list.drop(final_list[final_list.startYear== '\\N'].index)
final_list.shape

(862042, 10)

In [24]:
final_list=final_list.drop(final_list[final_list.primaryTitle== '\\N'].index)
final_list.shape

(862042, 10)

In [25]:
final_list=final_list.drop(final_list[final_list.originalTitle== '\\N'].index)
final_list.shape

(862042, 10)

In [26]:
final_list=final_list.drop(final_list[final_list.titleType== '\\N'].index)
final_list.shape

(862042, 10)

In [27]:
df = pd.DataFrame(final_list)
csv_data = df.to_csv('FinalList.csv', index = True)
print('\nCSV String:\n', csv_data)

CSV String:
 None

In [68]:
# Now the final list is ready

In [69]:
final_list.loc[:, 'numVotes'].mean()

1544.8338794632346

In [71]:
votes_1000=final_list[final_list['numVotes']>1500]
votes_1000.shape

(58007, 10)

In [79]:
votes_1000.head

<bound method NDFrame.head of             tconst  averageRating  numVotes  titleType  \
290      tt0000417            8.2     52343      short
299      tt0000439            7.3     20033      short
310      tt0000465            7.3      1670      short
324      tt0000499            7.5      3753      short
506      tt0000832            6.6      2582      short
...            ...            ...       ...        ...
1312516  tt9913038            8.4      3124  tvEpisode
1312517  tt9913040            7.3      3175  tvEpisode
1312520  tt9913050            7.9      3061  tvEpisode
1312641  tt9913754            7.3      5266  tvEpisode
1312730  tt9916362            6.4      5333      movie

                                     primaryTitle  \
290                            A Trip to the Moon
299                       The Great Train Robbery
310                    The Kingdom of the Fairies
324                         The Impossible Voyage
506                             A Corner in Wheat
...                                           ...
1312516                          Together Forever
1312517                           Tsuzumi Mansion
1312520  The Boar Bares Its Fangs, Zenitsu Sleeps
1312641                                Psalm 46:5
1312730                                     Coven

                                    originalTitle isAdult startYear  \
290                        Le voyage dans la lune       0      1902
299                       The Great Train Robbery       0      1903
310                           Le royaume des fées       0      1903
324              Le voyage à travers l'impossible       0      1904
506                             A Corner in Wheat       0      1909
...                                           ...     ...       ...
1312516                          Together Forever       0      2019
1312517                           Tsuzumi Mansion       0      2019
1312520  The Boar Bares Its Fangs, Zenitsu Sleeps       0      2019
1312641                                Psalm 46:5       0      2020
1312730                                  Akelarre       0      2020

        runtimeMinutes                      genres
290                 13     Action,Adventure,Comedy
299                 11      Action,Adventure,Crime
310                 16     Adventure,Fantasy,Short
324                 24     Action,Adventure,Family
506                 14           Crime,Drama,Short
...                ...                         ...
1312516             24  Action,Adventure,Animation
1312517             24  Action,Adventure,Animation
1312520             24  Action,Adventure,Animation
1312641             50        Action,Drama,Fantasy
1312730             92               Drama,History

[58007 rows x 10 columns]>